<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>LatteOS</vendor>
  <vendor_url>https://github.com/</vendor_url>

  <action id="org.latteos.files.admin">
    <description>Access files as administrator</description>
    <description xml:lang="sk">Prístup k súborom ako správca</description>
    <message>Administrator rights are required to change or view these files</message>
    <message xml:lang="sk">Na zmenu alebo zobrazenie týchto súborov je potrebné oprávnenie správcu</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/latteos/latte-files-admin</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
